// variables

$c-accent: rgb(0, 89, 255); // accent color
$c-text: white; // text color
$c-text-dark: darkgray; // text color
$c-bg-main: rgb(2, 63, 87); // background color
$c-bg-dark: rgb(2, 9, 41); // background color
$fontsize: 16px; 
$lineheight: 1.65; 
$userfont: Roboto, sans-serif; // font-family

 
// general document styles

::placeholder {
    color: #665;
}

::selection {
    background-color: $c-accent;
    color: #fff;
}

input,
textarea {
    outline: none;

    &:focus:required:invalid {
        border-color: red;
    }
    &:required:valid {
        border-color: green;
    }
}

body {
    font-family: $userfont;
    font-size: $fontsize;
    line-height: $lineheight;
    color: $c-text;
    min-width: 320px;
    height: max(300px, 100vh);
    position: relative;
    overflow-x: hidden;
    background-color: $c-bg-dark;
}