@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');
@import "./config";
@import url("./../src/components/header/header.css");
@import url("./../src/components/game/ticTacToe.css");
@import url("./../src/components/footer/footer.css");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


